@font-face {
    font-family: 'hk_grotesk';
    src: url('../assets/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'hk_grotesk';
    src: url('../assets/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root{
  --cozy-magenta:#ea7263;
  --cozy-pink:#e879b0;
  --cozy-border:#BC376A;
}

body {
    font-family: 'hk_grotesk', monospace;
    background: linear-gradient(var(--cozy-magenta), var(--cozy-pink));
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 1.2rem;
}

 h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
} 

hr {
  margin-bottom: 30px;
  margin-top: 30px;
  border: none;
  height: 2px;
  color: #333; /* old IE */
  background-color: var(--cozy-pink); /* Modern Browsers */
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ea7263' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.header-title{
  max-width: 100%;
  height: auto;
  margin: 70px 0 15px 0;
}

#cozy-nav{
    background-color: transparent!important;
    padding: .5rem 0;
}

#cozy-nav.navbar-light .navbar-toggler{
  border-color: var(--cozy-pink);
  border-width: 2px;
  border-radius: 0px;
  margin-right: 1rem;
}

#cozy-nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(232, 121, 176)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

#cozy-nav .nav-item{
  border-bottom: 2px solid var(--cozy-pink);
  padding: 0 1rem;
}

#cozy-nav .navbar-nav .nav-link{
  color: rgb(33, 37, 41);
}

#cozy-nav .navbar-nav{
  background: linear-gradient(to bottom, rgba(234,114,99,0) 0%,rgba(234,115,111,0.74) 10%,rgba(232,121,176,1) 100%);
}

/* left menu */
.navbar-left-container{
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
  z-index: 1020;
}


#navbar-left .list-group-item{
  background-color: transparent;
  border: 2px solid var(--cozy-pink);
}

#navbar-left .list-group-item.active{
  color: rgb(33, 37, 41)!important;
  font-weight: bold;
}

#navbar-left .list-group-item-action{
  color: rgb(33, 37, 41)
}


#notes{
  margin-top: 25px;
  counter-reset: item;
}

#notes ol {
  list-style-type: none;
  padding-left: 0;
  column-count: 1;
  column-gap: 1rem;
  font-size: 0.875rem;
}

#notes li {
  counter-increment: item;
}

#notes li:before {
  margin-right: 10px;
  content: "["counter(item)"]";
}

.cst-list{
  list-style-type: none;
  padding-left: 0px;
}

.drop-cap{
  font-size: 1.25rem;
  font-weight: bold;
  float: left;
  margin-right: 2rem;
  line-height: 1.4rem;
  margin-bottom: 0.9rem;
  padding-top: 3px;
}

.cozy-bold{
  font-weight: bold;
}

.chapter{
  margin-bottom: 3rem;
}

.credits{
  margin-top: 30px;
  margin-bottom: 30px;
}

.credits-list{
  list-style-type: none;
  padding-left: 0px;
}

.credits-list a{
  color: #212529;
  text-decoration: underline;
}

.credits-list a:hover{
  color: #212529;
  text-decoration: underline;
}

/*! Header */


.title {
    font-size: 144px;
    z-index: 2;
    text-align: left;
}

.subtitle {
    font-size: 2em;
    z-index: 2;
    text-align: left;
}

sup{
  margin-left: 2px;
}


.gif-dimension {
    width: 400px;
}



.homepage {
    height: 100vh;
    position: relative;
}


@media (min-width: 576px) {

 }

@media (min-width: 768px) {
 }

@media (min-width: 992px) {

  .cst-list{
    padding-left: 40px;
  }


  #notes ol {
    column-count: 2;
  }

  .header-title{
    margin: 50px 0 50px 0;
  }

 }

@media (min-width: 1200px) {
 }
