/*! Text Style */

body {
    font-family: 'Inconsolata', monospace;
}

.background-gradient {
    background: linear-gradient(#ea7263, #e879b0);
}

p {
    font-family: 'Inconsolata', monospace;
    text-align: left;
    font-size: 1 em;
    color: black;
    line-height: 2em;
    text-align: justify;
    text-justify: inter-word;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}


a {
    color: white;
    text-decoration: none; !important
}

a:hover {
    color: #ea7263;
}

hr {
    border-top: 1px solid black;
}

ul {
    list-style-type: none;
}



/*! Header */

.title {
    font-size: 144px;
    z-index: 2;
    text-align: left;
}

.subtitle {
    font-size: 2em;
    z-index: 2;
    text-align: left;
}



.gif-dimension {
    width: 400px;
}

/*! @media (min-width: 576px) {
   .gif-dimension {
    width: 100px;
}
} */

.homepage {
    height: 100vh;
    position: relative;
}


/*! Body */
.spaces {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 0px;
}


/*! Footer */

.background-black {
    background-color: black;
    margin: 0;
    padding: 0;
}

.footer-font {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.9em;
    color: white;
}
